@using SpendLess.Domain.Accounts.Models
@using SpendLess.Domain.Accounts.Services
@inject IAccountsService AccountsService

@code {
    [Parameter]
    public Dictionary<string, AccountDetails> AccountDtos { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        AccountDtos = (await Task.WhenAll((await AccountsService.GetAccountsIncludedInNetWorth())
            .Select(async a => (a, await AccountsService.GetDetails(a.Key)))))
            .ToDictionary(t => t.a.Key, t => t.Item2);
    }

}

<div class="panel is-link" style="max-width:var(--spendless-form-page-width);margin:auto;">
    <p class="panel-heading">My Accounts</p>
    <div class="panel-block">
        <div class="control is-flex is-flex-direction-column" style="gap:1rem;">
            <div>
                <button
                    class="button is-primary" 
                    hx-swap="none"
                    hx-get="/accounts/create?include-in-net-worth=true">
                    Add Account
                </button>
            </div>
            <AccountsList AccountDtos="@AccountDtos"/>
        </div>
    </div>
</div>

