@using SpendLess.Domain.Accounts.Models
@using SpendLess.Domain.Accounts.Services
@inject IAccountsService AccountsService

@code {
    [Parameter]
    public Dictionary<string, AccountDetails> AccountDtos { get; set; } = [];

    [Parameter, EditorRequired]
    public int Page { get; set; } = 1;
    [Parameter]
    public int? TotalPages { get; set; }
    [Parameter]
    public int? PageSize { get; set; }

    private string Slug = "/accounts/all";

    protected override async Task OnInitializedAsync()
    {
        PageSize ??= 25;
        if (!TotalPages.HasValue)
        {
            var accounts = await AccountsService.GetNumberOfAccounts();
            TotalPages = (int)Math.Ceiling(accounts / (double)PageSize.Value);
        }
        AccountDtos = await AccountsService.GetPagedDetails(PageSize.Value, Page);
    }
}

<div class="panel is-link" style="max-width:var(--spendless-form-page-width);margin:auto;">
    <p class="panel-heading">All Accounts</p>
    <div class="panel-block">
        <div class="control is-flex is-flex-direction-column" style="gap:1rem;">
            <div>
                <button
                    class="button is-primary" 
                    hx-swap="none"
                    hx-get="/accounts/create?include-in-net-worth=true">
                    Add Account
                </button>
            </div>
            <AccountsList AccountDtos="@AccountDtos" Paginator="new((Page, TotalPages!.Value, PageSize!.Value, Slug))"/>
        </div>
    </div>
</div>
