@using Haondt.Core.Extensions
@using Haondt.Core.Models
@using Haondt.Identity.StorageKey
@using Haondt.Persistence.Services
@using Midas.Domain.Accounts.Services
@using Midas.Domain.Import.Models
@using Midas.Persistence.Services
@using Midas.Persistence.Extensions
@using Midas.Persistence.Storages.Abstractions

@inject IAccountsService AccountsService
@inject ITransactionImportConfigurationStorage ImportConfigurationStorage
@inject ISingleTypeMidasStorage<TransactionImportAccountMetadataDto> accountMetadataStorage

@code {
    [Parameter]
    public Optional<string> SelectedAccount { get; set; } = new();

    private Dictionary<string, string> _accounts { get; set; } = [];
    private List<string> _configurations { get; set; } = [];
    private Dictionary<string, string> _accountDefaultConfigurations { get; set; } = [];
    private Optional<string> _selectedAccountDefaultConfiguration;

    protected override async Task OnInitializedAsync()
    {
        var accounts = await AccountsService.GetAccountsIncludedInNetWorth();
        _accounts = accounts.ToDictionary(
            kvp => kvp.Key,
            kvp => kvp.Value.Name);


        _configurations = await ImportConfigurationStorage.GetAll();

        var accountMetadatas = await accountMetadataStorage.GetAll();
        foreach(var (key, value) in accountMetadatas)
        {
            if (!value.DefaultConfiguration.HasValue)
                continue;
            _accountDefaultConfigurations[key.SingleValue()] = value.DefaultConfiguration.Value;
        }

        if (!SelectedAccount.HasValue && _accounts.Count > 0)
            SelectedAccount = _accounts.First().Key;

        if (SelectedAccount.HasValue)
            if (_accountDefaultConfigurations.TryGetValue(SelectedAccount.Value, out var configId))
                _selectedAccountDefaultConfiguration = configId;
    }
}

<form id="setup" 
    hx-post="/transaction-import/dry-run" 
    hx-swap="innerHTML"
    hx-target="#dry-run-result"
    hx-encoding="multipart/form-data">
    <div class="field">
        <label class="label">Input file</label>
        <div class="file">
            <label class="file-label">
            <input 
                _="on change 
                    set files to the event's target.files
                    if files.length is 1
                        set file to files[0]
                        add .has-name to the closest .file
                        set (the next .file-name)'s innerHTML to the file's name
                        remove .is-hidden from the next .file-name
                    else
                        remove .has-name from the closest .file
                        add .is-hidden to the next .file-name
                    end
                    "
                class="file-input" type="file" name="file" accept=".csv" />
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> Choose a file… </span>
                </span>
                <span class="file-name is-hidden"></span>
            </label>
        </div>
    </div>

    <div class="field">
        <label class="label">Account</label>
        <div class="control">
            <div class="select">
                <select name="account"
                    _="on change 
                        set account to the first <option[value='$(my value)']/> in me 
                        set defaultConfig to the account's @@sl-default-config
                        if defaultConfig is not null
                            set (the next <select/>)'s value to defaultConfig
                        ">
                        @foreach (var (id, name) in _accounts)
                        {
                            var attributes = new Dictionary<string, object>();
                            if (_accountDefaultConfigurations.TryGetValue(id, out var configId))
                                attributes["sl-default-config"] = configId;
                            if(SelectedAccount.HasValue && SelectedAccount.Value == id)
                                attributes["selected"] = "";
                            <option
                                @attributes="attributes"
                                value="@id">
                                @name
                            </option>
                        }
                </select>
            </div>
        </div>
    </div>

    <SetupConfigurationField 
        IsSwap="@false" 
        SelectedAccountDefaultConfiguration="_selectedAccountDefaultConfiguration"
        Configurations="_configurations"/>

    <div class="field">
        <label class="label">Handle Conflicting Import Hashes</label>
        <div class="control">
            <div class="select">
                <select name="conflicts">
                    <option value="@TransactionImportConflictResolutionStrategy.Warn" selected>
                        Warn
                    </option>
                    <option value="@TransactionImportConflictResolutionStrategy.Omit">
                        Omit
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" name="add-import-tag" value="true" checked/>
                Add import tag
            </label>
        </div>
    </div>

    <hr/>
    <div id="preprocess-file-controls">
        <div class="field">
            <div class="control">
                <button 
                    class="button is-primary">
                    Process File
                </button>
            </div>
        </div>
    </div>
</form>
