@using Haondt.Core.Extensions
@using Haondt.Identity.StorageKey
@using Midas.Domain.Import.Models
@using Midas.Persistence.Extensions
@using Haondt.Core.Models
@using Haondt.Persistence.Services
@inject IStorage Storage

@code {
    private List<string> _configurations = default!;
    protected override async Task OnInitializedAsync()
    {
        _configurations = (await Storage.GetDefault(StorageKey<TransactionImportConfigurationSlugsDto>.Empty)).Slugs;
    }
}

<div
    id="modal-container"
    class="modal is-active is-justify-content-flex-start pt-6"
    hx-swap-oob="true">
    <div 
        class="modal-background"
        _="
            on click
                remove .is-active from #modal-container
                set #modal-container's innerHTML to ''
            end
            on keydown(key) from elsewhere
                if the key is 'Escape'
                    send click to me
                end
            end
        "></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Manage Import Configurations</p>
            <button class="delete" _="on click send click to the previous .modal-background"></button>
        </header>
        <section class="modal-card-body">
            <form hx-post="/transaction-import/configs" hx-swap="none">
                <div class="table-container">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="row-template" class="is-hidden">
                                <td><input name="config-slug" type="text" class="input" value="" /></td>
                                <td>
                                    <div class="is-flex is-flex-direction-row is-justify-content-flex-end">
                                        <button
                                            _="on click remove the closest <tr/> then halt the event"
                                            class="button">
                                            <span class="icon is-small has-text-danger">
                                                <i class="fas fa-trash" />
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            @foreach(var config in _configurations)
                            {
                                <tr id="row-template">
                                    <td><input name="config-slug" type="text" class="input" value="@config" /></td>
                                    <td>
                                        <div class="is-flex is-flex-direction-row is-justify-content-flex-end">
                                            <button
                                                _="on click remove the closest <tr/> then halt the event"
                                                class="button">
                                                <span class="icon is-small has-text-danger">
                                                    <i class="fas fa-trash" />
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2">
                                    <div class="is-flex is-flex-direction-row is-justify-content-center">
                                        <button _="
                                            on click 
                                                halt the event
                                                put #row-template's outerHTML before the closest <tr />
                                                then set new to the previous <tr/>
                                                remove .is-hidden from new
                                                remove @@id from new"
                                            class="button">Add Configuration</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-success" _="on click send submit to the previous <form/>">Save changes</button>
                <button class="button" _="on click send click to the previous .modal-background">Cancel</button>
            </div>
        </footer>
    </div>
</div>

