
@code {
    [Parameter]
    public long? SelectedTransactions { get; set; }
    [Parameter]
    public List<string>? SelectedTransactionFilters { get; set; }
    [Parameter]
    public List<long>? SelectedTransactionIds { get; set; }
    [Parameter]
    public bool Swap { get; set; } = false;
    private Dictionary<string, object> _attributes = [];
    protected override void OnInitialized()
    {
        if (Swap)
        {
            _attributes["hx-swap-oob"] = "outerHTML";
        }
    }
}

<div id="select-transactions" @attributes=_attributes>
    @if (SelectedTransactionFilters != null)
    {
        @foreach(var filter in SelectedTransactionFilters)
        {
            <input type="hidden" name="filters" value="@filter"/>
        }
    }
    @if (SelectedTransactionIds != null)
    {
        <input type="hidden" name="transactions" value="@string.Join(',', SelectedTransactionIds.Select(i => $"{i}"))"/>
    }
    <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" readonly value="@(SelectedTransactions?.ToString() ?? "All") transactions selected"/>
        </div>
        <div class="control">
        <button class="button is-info"
            hx-get="/transaction-import/reimport/search"
            hx-include="#select-transactions"
            hx-swap="none">
            Reselect Transactions
        </button>
        </div>
    </div>
</div>
