@using Haondt.Core.Models
@using Haondt.Identity.StorageKey
@using Haondt.Persistence.Services
@using SpendLess.Accounts.Services
@using SpendLess.Domain.Models
@using SpendLess.Persistence.Services
@using SpendLess.Persistence.Extensions
@using SpendLess.TransactionImport.Models

@inject IStorage Storage

@code {
    [Parameter]
    public bool IsSwap { get; set; } = true;
    [Parameter]
    public List<string>? Configurations { get; set; } 
    [Parameter, EditorRequired]
    public Optional<string> SelectedAccountDefaultConfiguration { get; set; }

    private List<string> _configurations { get; set; } = [];
    private Dictionary<string, object> _attributes = new();
    protected override async Task OnInitializedAsync()
    {
        if (IsSwap)
            _attributes["hx-swap-oob"] = "outerHTML";
        if (Configurations != null)
            _configurations = Configurations;
        else
        {
            _configurations = (await Storage.GetDefault(StorageKey<TransactionImportConfigurationSlugsDto>.Empty)).Slugs;
        }
    }
}
<div class="field" id="import-configuration-selection-field" @attributes="_attributes">
    <label class="label">Import Configuration</label>
    <div class="control buttons" >
        <div class="select">
            <select name="config">
                @{
                    foreach(var slug in _configurations)
                    {
                        var attributes = new Dictionary<string, object>();
                        if (SelectedAccountDefaultConfiguration.HasValue && SelectedAccountDefaultConfiguration.Value == slug)
                            attributes["selected"] = "";
                        <option
                            @attributes="attributes"
                            value="@slug">
                            @slug
                        </option>
                    }
                }
            </select>
        </div>
        <button class="button is-link is-outlined"
            hx-get="/transaction-import/configs"
            hx-include="closest form"
            hx-swap="none">
            <span class="icon is-small">
                <i class="fas fa-edit"></i>
            </span>
            <span>Manage</span>
        </button>
    </div>
</div>
