<div class="panel is-link" style="max-width:var(--spendless-form-page-width);margin:auto;">
    <p class="panel-heading">Import Transactions</p>
    <div class="panel-block">
        <div class="control">
            <Setup IsSwap="false" />
        </div>
    </div>
</div>