<div id="transaction-import" class="block" style="max-width:var(--spendless-form-page-width);margin:auto;">
    <div class="panel is-link" >
        <p class="panel-heading">Import Transactions</p>
        <div class="panel-block">
            <div class="control">
                <Setup/>
            </div>
        </div>
    </div>
    <div id="dry-run-result"></div>
</div>