@using Haondt.Web.Core.Components
@using Haondt.Identity.StorageKey
@using SpendLess.Components.SpendLessComponents
@using SpendLess.Domain.Models
@model SpendLess.Components.SpendLessComponents.AccountsModel

<div class="box">
    <div class="is-flex is-flex-direction-column" style="gap:1rem;">

        <div>
            <a
                class="button is-primary" 
                href="/accounts/create"
                hx-push-url="/accounts/create"
                hx-get="/_component/@(ComponentDescriptor<UpsertAccountModel>.TypeIdentity)"
                hx-target="#content"
                >
                Add Account
            </a>
        </div>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var account in Model.Accounts)
                {
                <tr>
                    <td><a
                        href="/account/@account.Key"
                        hx-push-url="/account/@account.Key"
                        hx-get="/_component/@(ComponentDescriptor<UpsertAccountModel>.TypeIdentity)?id=@account.Key"
                        hx-target="#content">
                        @account.Value.Name</a>
                    </td>
                    <td>$@account.Value.Balance</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
