@model SpendLess.Components.SpendLessComponents.SpendLessNavigationBarModel

<div class="is-flex is-flex-direction-column">
    @foreach(var item in Model.Items)
    {
        <a 
            class="button is-ghost is-justify-content-flex-start" 
            href="/@item.Slug"
            hx-push-url="/@item.Slug"
            hx-get="/_component/@item.TypeIdentity"
            hx-target="#content"
        >@item.Title</a>
        
    }
</div>
