@model SpendLess.Components.SpendLessComponents.SpendLessNavigationBarModel

<div class="is-flex is-flex-direction-column">
    @foreach(var item in Model.Items)
    {
        <a 
            class="button is-ghost is-justify-content-flex-start" 
            href="/@item.Slug"
            hx-ext="multi-swap"
            hx-boost="true"
            hx-swap="multi:#content,#navigation"
        >@item.Title</a>
        
    }
</div>
