@using SpendLess.Components.SpendLessComponents
@model SpendLess.Components.SpendLessComponents.TransactionImportUpdateModel

@if (Model.DryRunProgress.HasValue)
{
    <div id="preprocess-file-controls" hx-swap-oob="outerHTML">
        @if (Model.DryRunProgress.Value >= 100)
        {
            <div class="field">
                <div class="control">
                    <button class="button is-primary">
                        Preprocess File
                    </button>
                </div>
            </div>
        }
        else if(Model.DryRunJobId.HasValue)
        {
            <progress 
                hx-post="/_event/TransactionImportCheckProgress"
                hx-params="job"
                hx-vals='{"job":"@Model.DryRunJobId.Value"}'
                hx-trigger="load delay:500ms"
                class="progress mt-5" value="@Model.DryRunProgress.Value" max="100"></progress>
        }
    </div>
}


@if (Model.DryRunResult.HasValue)
{
    @await Html.PartialAsync(TransactionImportSendToNodeRedResultComponentDescriptorFactory.ViewPath,
        new TransactionImportSendToNodeRedResultModel
        {
            Inner = Model.DryRunResult.Value
        });

}
