@model SpendLess.Components.SpendLessComponents.UpsertTransactionImportConfigurationModalModel

<div
    id="modal-container"
    class="modal is-active is-justify-content-flex-start pt-6"
    hx-swap-oob="true">
    <div 
        class="modal-background"
        _="
            on click
                remove .is-active from #modal-container
                set #modal-container's innerHTML to ''
            end
            on keydown from elsewhere
                if the event's key is 'Escape'
                    send click to me
                end
            end
        "></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create or Edit Import Configuration</p>
            <button class="delete" _="on click send click to the previous .modal-background"></button>
        </header>
        <section class="modal-card-body">
            <form hx-post="/_event/TransactionImportUpsertConfiguration">
                @if (Model.Id.HasValue)
                {
                    <input style="display:none;" name="id" type="text" value="@Model.Id.Value" />
                }
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input name="name" class="input" type="text" value="@Model.Name" />
                    </div>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" name="add-ts-tag" 
                        @(Model.AddTimestampTag ? "checked" : "")>
                      Add tag with current datetime to all transactions.
                    </label>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" name="is-default" 
                        @(Model.IsDefault ? "checked" : "")>
                      Make this the default import configuration
                    </label>
                  </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-success" _="on click send submit to the previous <form/>">Save changes</button>
                <button class="button" _="on click send click to the previous .modal-background">Cancel</button>
            </div>
        </footer>
    </div>
</div>

