@code {
    [Parameter, EditorRequired]
    public required string Id { get; set; }
    [Parameter, EditorRequired]
    public required string Name { get; set; }

}
<div class="panel is-link" style="max-width:var(--spendless-form-page-width);margin:auto;">
    <p class="panel-heading">Update Account</p>
    <div class="panel-block">
        <div class="control">
            <form hx-swap="none" class="column" hx-post="/account/@Id" style="max-width:var(--spendless-max-width);">
                <div class="field">
                    <div class="control">
                        <label class="label">Name</label>
                        <input name="name" class="input" type="text" value="@Name" />
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-link">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
