@* <div class="box">
    <p class="subtitle">Create or Update Account</p>
    <div class="columns is-centered">
        <form class="column" hx-post="/_event/AccountUpsert" style="max-width:var(--spendless-max-width);">
            @if (Model.AccountId.HasValue)
            {
                <input name="id" value="@Model.AccountId.Value" style="display:none;"/>
            }
            <div class="field">
                <div class="control">
                    <label class="label">Name</label>
                    <input name="name" class="input" type="text" value="@Model.AccountName" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
 *@