@code {
    [Parameter, EditorRequired]
    public required string JobId { get; set; }
}
<div class="control">
    <div class="block">
        <p>Click to download your takeout.</p>
    </div>
    <div class="block">
        <a class="button" href="/_asset/admin.takeout.@(JobId).zip" download="spendless.zip">Download</a>
    </div>
</div>
