@code {
    [Parameter, EditorRequired]
    public required string Text { get; set; }
    [Parameter]
    public bool Swap { get; set; } = true;

    private RenderFragment<string> CreateFilter = (text) =>
    @<div class="filter-tag control">
        <input type="hidden" name="filter" value="@text" />
        <div class="tags has-addons">
            <span class="tag is-info">@text</span>
            <button
                class="tag is-delete"
                _="on click 
                    remove the closest .filter-tag
                    if #paginator-total-pages exists then
                        set #paginator-total-pages's value to ''
                    end
                    then send submit to #filters
            ">
            </button>
        </div>
    </div>;


}

@if (Swap)
{
    <div hx-swap-oob="beforeend:#filters">
        @CreateFilter(Text)
    </div>
}
else
{
    @CreateFilter(Text)
}
