@using Haondt.Core.Models
@using Midas.UI.Components.Transactions

@code {
    [Parameter]
    public Optional<string> SelectionEvent { get; set; } = new();
}
<div 
    id="modal-container"
    class="modal is-active is-justify-content-flex-start pt-6"
    hx-swap-oob="true">
    <div 
        class="modal-background"
        _="
            on click
                remove .is-active from #modal-container
                set #modal-container's innerHTML to ''
            end
            on keydown(key) from elsewhere
                if the key is 'Escape'
                    send click to me
                end
            end
        "></div>
    <div class="card">
        <style>
            @@scope {
                :scope {
                    max-height: calc(100% - var(--bulma-modal-card-spacing));
                    display: flex;
                    flex-direction: column;
                    width: 80rem;
                }

                .card-content {
                    overflow: auto;
                    overflow-y: scroll;
                }
            }
        </style>
        <header class="modal-card-head card-header">
            <p class="modal-card-title">Select Transactions</p>
            <button class="delete" _="on click send click to the previous .modal-background"></button>
        </header>
        <section class="card-content">
            <style>
                @@scope {
                    :scope {
                        .actions {
                            display: none;
                        }
                    }
                }
            </style>
            <TransactionsSearch />
        </section>
        <footer class="modal-card-foot">
            <form 
                hx-post="/transactions-select/search"
                hx-swap="none"
                hx-include="#filters,#search-results">
                @if (SelectionEvent.HasValue)
                {
                    <input type="hidden" name="selection-event" value="@SelectionEvent.Value"/>
                }
            </form>
            <div class="buttons">
                <button class="button is-success" 
                    _="on click send submit to the previous <form/>">
                    Save changes
                </button>
                <button class="button" 
                    _="on click send click to the previous .modal-background">
                    Cancel
                </button>
            </div>
        </footer>
    </div>
</div>
