@using Haondt.Web.Components
@using Midas.Domain.Reconcile.Models
@using Midas.UI.Components.Import
@using Midas.UI.Components.TransactionsSelect

@code{
    [Parameter]
    public TransactionsSelectField? SelectTransactionsField { get; set; }
    private string _selectionEvent = "transactionsSelected";
}

<div id="transaction-import" class="block" style="max-width:var(--midas-form-page-width);margin:auto;">
    <div class="panel is-link" >
        <p class="panel-heading">Merge Transactions</p>
        <div class="panel-block">
            <div class="control">
                <div
                    hx-include="#select-transactions"
                    hx-get="/merge/configure" hx-trigger="@_selectionEvent from:body" hx-target="#configure-merge">
                    <TransactionsSelectField
                        Selection="new() { SelectNone = true, SelectionEvent = _selectionEvent}" />
                </div>
            </div>
        </div>

    </div>

    <div id="configure-merge"></div>
</div>
