@using SpendLess.UI.Shared.Components
@code {
    [Parameter]
    public string Value { get; set; } = "";
    [Parameter]
    public bool IsSwap { get; set; } = true;
    [Parameter, EditorRequired]
    public required string EncodedKey { get; set; }

    private Dictionary<string, object> _attributes = new();
    protected override void OnInitialized()
    {
        if (IsSwap)
            _attributes["hx-swap-oob"] = "outerHTML";
    }
}

<div id="value-view" @attributes="_attributes">
    <p class="title is-4">Value</p>
    <div class="field">
        <div class="buttons">
            <button class="button is-primary" 
                hx-post="/kvs/mapping/@EncodedKey" 
                hx-swap="none"
                hx-include="#kvs-value">Update</button>
            <button class="button" hx-post="/kvs/prettify" 
                hx-include="#kvs-value"
                hx-target="#kvs-value"
                hx-swap="innerHTML">
                Prettify
            </button>
        </div>
    </div>

    <div id="kvs-value">
        <CodeWindow
            Name="@(new("value"))"
            Text="@Value"/>
    </div>
</div>
