@code {
    [Parameter]
    public bool IsSwap { get; set; } = true;

    [Parameter]
    public List<string> Aliases { get; set; } = [];

    [Parameter, EditorRequired]
    public required string EncodedKey { get; set; }

    private Dictionary<string, object> _attributes = new();
    protected override void OnInitialized()
    {
        if (IsSwap)
            _attributes["hx-swap-oob"] = "outerHTML";
    }


}
<div id="alias-list-view" @attributes="_attributes">
    <p class="title is-4">Aliases</p>
    <form class="block"  hx-patch="/kvs/mapping/@EncodedKey/aliases" hx-swap="none">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" name="alias" placeholder="Alias" />
            </div>
            <div class="control">
                <button class="button is-primary">Add alias</button>
            </div>
        </div>
    </form>
    <table class="table is-hoverable is-fullwidth">
        <tbody>
            @foreach(var alias in Aliases)
            {
            <tr>
                <td>@alias</td>
                <td>
                    <Midas.UI.Shared.Components.ActionsDropdown>
                        <button class="dropdown-item"
                            hx-include="next input"
                            hx-delete="/kvs/mapping/@EncodedKey/aliases">
                            <span class="icon has-text-danger">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                            <span>remove</span>
                        </button>
                    </Midas.UI.Shared.Components.ActionsDropdown>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
