@using Haondt.Core.Models
@code {
    [Parameter]
    public bool IsSwap { get; set; } = true;

    [Parameter]
    public Optional<(string Encoded, string Unencoded)> Key { get; set; } = new();


    private Dictionary<string, object> _attributes = new();
    protected override void OnInitialized()
    {
        if (IsSwap)
            _attributes["hx-swap-oob"] = "outerHTML";
    }


}

 <div id="key-view" @attributes="_attributes">
    @if(Key.HasValue)
    {
        <div class="is-flex is-flex-direction-row is-align-items-center is-flex-wrap-wrap" style="gap:10px;">
            <p class="is-size-5 is-family-monospace is-flex-grow-1">@Key.Value.Unencoded</p>
            <button class="button has-text-danger"
                hx-delete="/kvs/mapping/@Key.Value.Encoded"
                hx-confirm="are you sure?"
                hx-target="#kvs"
                hx-swap="outerhtml">
                Delete Mapping
            </button>

            <button class="button"
                hx-get="/kvs/mappings"
                hx-swap="none">
                Select Different Mapping
            </button>
        </div>
    }
    else
    {
        <button class="button"
            hx-get="/kvs/mappings"
            hx-swap="none">
            Select Mapping
        </button>
    }
</div>
