@using Haondt.Core.Models
@using SpendLess.Transactions.Models.ViewModels

<div class="panel is-link" style="max-width:var(--spendless-form-page-width);margin:auto;">
    <p class="panel-heading">Transactions</p>
    <TransactionsSearch DivClass="panel-block" />
</div>

