@using Haondt.Core.Models
@using Midas.Domain.Reconcile.Models
@code {
    [Parameter, EditorRequired]
    public required DetailedResult<ReconcileMergeResultDto, string> Result { get; set; }

}

<div class="box">
    <div class="content">
        <p class="title is-4">Import Summary</p>
    </div>

    <table class="table is-hoverable  is-fullwidth" >
        <tbody>
            <tr>
                <th>Result</th>
                @if (Result.IsSuccessful)
                {
                    <td class="has-text-success">Success</td>
                }
                else
                {
                    <td class="has-text-danger">Failed</td>
                }
            </tr>
            <tr>
                <th>Total merged transactions</th>
                <td>@(Result.IsSuccessful ? Result.Value.TotalMerges : 0)</td>
            </tr>
            @if (!Result.IsSuccessful)
            {
                <tr class="is-danger">
                    <th>Error</th>
                    <td>@Result.Reason</td>
                </tr>
            }
        </tbody>
    </table>
</div>
